sample-values.yaml
sample-values-post.yaml
sample-values-mysql.yaml
sample-values-dev365.yaml
sample-values-dev365-dex.yaml
sample-values-dev365-dex-bkp.yaml
sample-values-dev365-dex-github.yaml
sample-values-dev365-dex-github-dd.yaml
sample-values-dev365-cognito-dex.yaml
sample-values-dev365-cognito-dex.yaml
sample-values-dev365-aws.yaml
sample-values-dev365-gcp.yaml
sample-values-dev365-gcp-dex.yaml
sample-values-dev365-dex-H2.yaml
secretFiles/*
!secretFiles/README.md